* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body {
    font-family: sans-serif;
    background-color: #071115;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    box-shadow: 0 0 10px #000;
}
.toggler-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
    padding: 5px 15px;
    border-radius: 15px;
}
.toggler-icon.dark-theme{
    display: none;
    background-color: #222;
    color: #fff;
}
.toggler-icon.light-theme{
    display: block;
    background-color: #fff;
    color: #000;
}
.toggler-icon::before{
    content: '';
    height: 30px;
    /* width: 30px; */
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius:10%;
    z-index: -1;
}
.display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
.display::-webkit-scrollbar{
    display: block;
    height: 3px;
}
.calculator input{
    margin: 0 10px;
    width: auto;
    max-width: 270px;
    font-size: 30px;
    overflow-x: scroll;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25%;
    right: 10%;
    text-align: right;
    cursor: pointer;
}
button{
    height: 50px;
    width: 55px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
    color: #000;
    transition: all 200ms ease;
    background-color: transparent;
}
button:hover{
    transform: scale(1.1);
    background-color: green;
    color: #fff;
}
button#equal{
    height: 70px;
    background-color: #007fb9;
}
img{
    width: 23px;
    height: 17px;
}
.calculator span{
    position: absolute;
    top: 12%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.calculator span i{
    font-size: 25px;
}
/* light-theme */

.calculator{
    background-color: #fff;
}
.calculator input,.calculator input::placeholder {
    color: #0a1e23;
}
.calculator.display {
    color: #0a1e23;
}
.calculator button.btn-operator{
    color: #fff;
    background-color: green;
}
.calculator button#clear{
    background-color: #ca0000;
}
/* dark-theme */

.calculator.dark {
    background-color: #071115;
}
.calculator.dark .display{
    color: #f8fafd;
}
.calculator.dark button{
    color: #fff;
}
.calculator.dark input,.calculator.dark input::placeholder{
    color: #fff;
}
.calculator.dark span{
    color: #fff;
    background-color: #071115;
}
#scientific{
    display: none;
    padding: 10px;
    background-color: #00334b;
}
#scientific button#equal{
    height: 100px;
    background-color: #0279a8;
}
#scientific button{
    color: #fff;
    width: 50px;
}
#sim{
    display: none;
}